@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor: #1d1d1d; 
    --secondaryTextColor: #000000; 
    --mainLinkColor: #068494e1;
    --mainBorderColor: rgba(80, 80, 80, 0.8); 
    --mainBgColor: #deedff; 
}

*{
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
}

body{
    background-color: var(--mainBgColor);
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
}

li{
    line-height: 1.9em;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #deedff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.217);
}


.contact-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.contact-form form {
    display: grid;
    grid-gap: 2px;
}

.contact-form label {
    font-weight: bold;
    color: #555;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.contact-form input[type="text"]:hover{
    background-color: #b3e2f1;
}

.contact-form input[type="email"]:hover{
    background-color: #b3e2f1;
}

.contact-form textarea:hover{
    background-color: #b3e2f1;
}

.contact-form textarea {
    min-height: 100px;
}

.contact-form button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #00e5ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button[type="submit"]:hover {
    background-color: #00a4b3c9;
}



.contact-form button {
    padding: 10px 20px;
    background-color: #11b3b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#containter--main{
    max-width: 700px;
    margin: 0 auto;
}

.section--page{
    padding-top: 1em;  
    padding-bottom: 1em;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#user-name{
    font-size: 48px;
    line-height: 1em;
}

#profile-pic{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#email{
    color: var(--mainTextColor);
}

#socials--list{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#socials--list a{
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
}

#socials--list a:hover{
    color: var(--mainLinkColor);
}

#qualifications--list{
    list-style: none;
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}

.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--project a{
    color: var(--mainTextColor);
    transition: 0.3s;
}

.card--project a:hover{
    color: #67e8ffb6;
}

@media(max-width:600px){
    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #wrapper--hero{
        gap: 1em;
        flex-direction: column;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
    }

    .card--work-history{
        border-left: none;
        padding-left: 0;
    }
   
    
}
